body{
    width: 80%;
    margin: auto;
}
#Main-Title {
    background-color: rgb(29, 127, 207);
    background-image: url(../img/pattern.png);
    background-position: center;
    background-size: contain;
    color: white;
    height: 100px;
    font-family: 'Roboto', sans-serif;
}
h1 span{
    font-size: 15px;
}
#info-title{
    color: gray;
}
div a{
    color: rgb(29, 127, 207);
    text-decoration: none;
}
div span{
    font-size: 10px;
}