body{
    width: 80%;
    margin: auto;
    font-family: 'Lora', serif;
}
h1 span{
    font-size: 15px;
}
div a{
    color: rgb(29, 127, 207);
    text-decoration: none;
}
div span{
    font-size: 10px;
}
p span{
    background-color: yellow;
}
table th{
    background-color: rgb(47, 125, 228);
    color: white;
}
tr td{
    background-color: rgb(130, 202, 199);
}
footer h3{
    color: grey;
}
#Main-Title {
    background-color: rgb(29, 127, 207);
    background-image: url(../img/pattern.png);
    background-position: center;
    background-size: contain;
    color: white;
    height: 100px;
    font-family: 'Roboto', sans-serif;
}
#info-title{
    color: gray;
}
#white-row td{
    background-color: white;
}
.Photo-Tim{
    font-size: 13px;
}
.foto1, .foto2{
    color: white;
    font-size: 20px;
}
.foto1{
    height: 250px;
    width: 250px;
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
}
.foto2{
    height: 250px;
    width: 250px;
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
}